{% extends 'layout.html' %}

{% block body %}
    <div class="inner cover">
        <p class="lead">
            Detection of phishing websites is a really important safety measure for most of the online platforms. So, as to save a platform with malicious requests from such websites, it is important to have a robust phishing detection system in place.
        </p>
        <p class="lead">
            PhishCoop is an intelligent, flexible and effective system that uses UCI datasets and supervised machine learning algorithms to classify legitimacy of websites. The main objective of this system is to distinguish the phishing websites from the legitimate websites and ensure secure transactions to users.
        </p>
    </div>
{% endblock %}